<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="depart" class="cn.core.dao.impl.Depart"></bean>
	<!-- scope default singleton
		autowire  byName or byType-->
	<bean id="service" class="cn.core.serivce.Service" scope="singleton" autowire="byName" init-method="init" destroy-method="destroy">
		<!-- constructor dependency injection
		<constructor-arg ref="depart"/>
		-->
		<!-- setter injection 
		<property name="depart" ref="depart"/>
		-->
	</bean>

</beans>
